.button{
  font-size: 20px ;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  min-height: 100vh;
  background-color: lavender;
}

.titel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
}

.search button{
  margin-left: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    min-height: 100vh;
  }
  }

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
